- content_for :page_title do
  = "とある科学的前豆瓣用户"

- content_for :header_tags do

  %meta{ name: 'robots', content: 'noindex' }/

= render 'header', account: @account, with_bio: true

.grid
  .column-0
    .h-feed
      %data.p-name{ value: "#{@account.username} on #{site_hostname}" }/
      = nothing_here 'nothing-here--under-tabs'

  .column-1
    = render 'application/sidebar'
